.sketches-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.sketch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-right: 3rem;
}

canvas {
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid #f0f0f0;
}

button {
  display: inline-block;
  padding: 0.5rem;
}
